@import url(style.css);

.main {
  max-width: 70vw;
  padding: 100px 0;
}

h2 {
  font-family: josefin sans;
  font-size: 56px;
  padding-bottom: 100px;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 1030px) {
  section {
    scale: 0.9;
  }
}

@media (max-width: 950px) {
  section {
    scale: 0.8;
  }
}

@media (max-width: 840px) {
  section {
    scale: 1;
  }
}

.booking-image {
  width: 500px;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 840px) {
  .booking-image {
    display: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.input-field {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--primary-900);
  width: 30ch;
}

input {
  transition: transform 0.3s ease;
}

.input-field:focus {
  outline: none;
  transform: translateY(8px);
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#extra {
  width: 100%;
}

button {
  color: var(--secondary-700);
  background-color: var(--primary-900);
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  transition: 700ms ease;
  border: none;
  cursor: pointer;
  transform-origin: top left;
  align-self: center;
  margin-top: 50px;
}

button:hover {
  width: 180px;
}
