@import url(style.css);

.header-logo {
  background-color: var(--primary-900);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100vw;
}

.hero-content {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (max-width: 1250px) {
  .hero-content {
    bottom: 50px;
  }
}

.hero-content > h1 {
  color: white;
  font-size: 56px;
  font-family: josefin sans;
}

@media (max-width: 1250px) {
  .hero-content > h1 {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .hero-content > h1 {
    font-size: 30px;
  }
}

.hero-button {
  color: var(--secondary-700);
  border: solid 3px var(--primary-900);
  font-weight: 700;
  font-size: 20px;
  width: 230px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: color 0.3s ease;
}

@media (max-width: 1250px) {
  .hero-button {
    scale: 0.8;
  }
}

@media (max-width: 900px) {
  .hero-button {
    scale: 0.6;
  }
}

.hero-button::after,
.hero-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition: 0.5s;
}

.hero-button::after {
  top: -3px;
  left: -3px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

.hero-button::before {
  bottom: -3px;
  right: -3px;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}

.hero-button:hover::after,
.hero-button:hover::before {
  width: 30px;
  height: 30px;
  border-color: var(--secondary-700);
}

.introduction {
  width: 80%;
}

.introduction > h2 {
  font-family: josefin sans;
  padding-bottom: 15px;
  font-size: 30px;
  white-space: nowrap;
}

.introduction > p {
  font-size: 16px;
  color: var(--secondary-900);
}

.product-section {
  padding-top: 50px;
}

.product-section > h2 {
  font-family: josefin sans;
}

.product-article {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 100px 0 35px;
  width: 45%;
}

.product-title {
  font-family: josefin sans;
  font-size: 40px;
}

.product-description {
  padding: 15px 0 35px;
}

.product-price {
  padding-bottom: 150px;
}

.price-includes {
  font-size: 14px;
  padding-top: 5px;
}

.order-button {
  color: var(--secondary-700);
  background-color: var(--primary-900);
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  transition: 500ms ease;
}

.order-button:hover {
  color: var(--primary-700);
}

#location-section {
  margin: 50px 0 100px 20px;
  padding-top: 50px;
  display: flex;
  justify-content: end;
  gap: 50px;
}

.location-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.location-article > h2 {
  font-size: 32px;
  white-space: nowrap;
}

.location-article > p {
  font-weight: 700;
}

.open-time {
  font-weight: 400;
}

iframe {
  width: 65vw;
}

.reviews-section {
  background-color: var(--primary-900);
  padding: 3rem 1.2rem;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: start;
}

@media (max-width: 1024px) {
  .reviews-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .reviews-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .reviews-section {
    grid-template-columns: 1fr;
  }
}

.review-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 1.2rem;
  border-radius: 1rem;
}

.review-box {
  border: transparent 1px solid;
  background: radial-gradient(
        circle at 50% 250%,
        var(--primary-700),
        var(--secondary-700)
      )
      padding-box,
    radial-gradient(var(--secondary-700), var(--primary-700));
}

.review-image-crontainer {
  margin-top: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.review-image {
  height: 55px;
  width: 55px;
}

.review-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.review-workshop {
  font-size: 12px;
  color: var(--secondary-900);
}
