@import url(style.css);

.header-logo {
  background-color: var(--primary-900);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100vw;
}

.hero-content {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-content > h1 {
  color: white;
  font-size: 56px;
  font-family: josefin sans;
}

.hero-button {
  color: var(--secondary-700);
  border: solid 3px var(--primary-900);
  font-weight: 700;
  font-size: 20px;
  width: 230px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  width: 80%;
}

.introduction > h2 {
  font-family: josefin sans;
  padding-bottom: 15px;
  font-size: 30px;
}

.introduction > p {
  font-size: 16px;
  color: var(--secondary-900);
}

.product-section {
  padding-top: 50px;
}

.product-section > h2 {
  font-family: josefin sans;
}

.product-article {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 100px 0 35px;
  width: 45%;
}

.product-title {
  font-family: josefin sans;
  font-size: 40px;
}

.product-description {
  padding: 15px 0 35px;
}

.product-price {
  padding-bottom: 150px;
}

.price-includes {
  font-size: 14px;
  padding-top: 5px;
}

.order-button {
  color: var(--secondary-700);
  background-color: var(--primary-900);
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

#location-section {
  margin: 50px 0 100px;
  display: flex;
  justify-content: end;
  gap: 50px;
}

.location-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.location-article > h2 {
  font-size: 32px;
}

.location-article > p {
  font-weight: 700;
}

.open-time {
  font-weight: 400;
}

iframe {
  width: 65vw;
}
